#footer{
  background-color: #8c8c8c;
  position: relative;
  min-height: 250px;
  width: inherit;
  bottom: 0px;
  left: 0px;
  padding-top: 70px;
  text-align:center;
}
#github{
  color: #ffffff;
  font-weight: bold;
}
.footer-list{
  display:contents;
  position: relative;
  display: inline-block;
  text-align: center;
}
.footer-comp {
  display:inline-block;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
}
.icons-size{
  font-size: 20px;
  padding: 3px;
}
