/* Classes */
.footer-list {
	display: inline-block;
	position: relative;
	text-align: center;
}

.footer-comp {
	display: inline-block;
	padding-bottom: 35px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.icons-size {
	font-size: 20px;
	padding: 3px;
}

/* IDs */
#footer {
	background-color: #8c8c8c;
	bottom: 0px;
	left: 0px;
	min-height: 250px;
	padding-top: 70px;
	position: relative;
	text-align: center;
	width: inherit;
}

#github {
	color: white;
	font-weight: bold;
}
