#footer{
  background-color: #8c8c8c;
  position: relative;
  min-height: 180px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding-top: 30px;
  text-align:center;
}
#github{
  color: #ffffff;
  font-weight: bold;
}
.footer-list{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:15px;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}
.footer-comp{
  display:inline;
  float: left;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.icons-size{
  font-size: 20px;
  padding: 3px;
}
