/* Element changes */
html, body{
  margin: 0;
}
body{
    text-align:center;
}
table {
  background-color: #ffffff;
  width: 70%;
  left: 15%;
  table-layout: auto;
  border-spacing: 5px;
  border-radius: 5px;
}
td{
  border-radius: 5px;
  background-color: #;
  text-align: center;
  vertical-align: middle;
}
tr {
  text-align: left;
  vertical-align: middle;
}
tr:nth-child(odd) {background-color: #ffffff;}
tr:nth-child(even) {background-color: #e6e6e6;}

/* IDs */
#peer{
  width: 40%;
  height: 980px;
  position: relative;
  left: 30%;
  border-collapse: inherit;
}
#infoTable{
  position: relative;
  top: 280px;
}
#content{
  background-color: #ffffff;
  min-height: 800px;
  width: 100%;
  text-align: center;
}
#content-info{
  align: center;
  position: relative;
  top: 250px;
}


/* Classes */
.thead{
  background-color: #7DA4E8;
}
.arr{
  position: relative;
  top: 280px;
}
